<!-- Includes -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{ url_for('static', filename='lib/jquery/jquery-3.4.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-head">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="js-navbar">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link display-5" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link display-5" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link display-5" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>